.DS_Store
backend/node_modules
backend/build
backend/npm-debug.log
backend/.env
backend/.DS_Store
backend/.cache
backend/todo.js

frontend-application/.gradle
frontend-application/.idea
frontend-application/local.properties
